{% extends "base.html" %}


{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
	<div class="left">
		<div>
			<h2 style="color:darkblue; text-align: center;"> Let's get started 💻 </h2>
			<div class="box">
				<p style="text-align: left;"> A kanban board is a tool designed to help visualize work by distributing it to different stages, such as "To Do," "In Progress," and "Done." 📝 </p>
				<br>
				<h3>There are a lot of potential benefits of the board for project management:</h3>
				<ul>
					<li><em><b>Maximizing efficiency:</b></em> 📈  Kanban boards allow you to identify pitfalls in the workflow and optimize the process of work distribution to improve efficacy. </li>
					<br>
					<li><em><b>Promoting teamwork:</b></em>👩🏻‍💻 By providing a visual representation of the work that needs to be done, Kanban boards promote collaboration and communication among team members.</li>
					<br>
					<li><em><b>Improving transparency: </b></em>✨ Kanban boards provide a transparent view of the workflow and progress of tasks, allowing team members to stay informed on the status of projects.</li>
					<br>
				</ul>
			</div>
		</div>
	</div>
	<div class="right"></div>
</div>
{% endblock %}

